<!-- Footer -->
<footer  class="bg-dark page-footer font-small pt-4">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Call to action -->
        <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1 shadow" style="color: rgb(105, 146, 172)">TheSevenKG Accessories</h5>
        </li>
        <li class="list-inline-item">
            <a href="/" style="color: rgb(33, 145, 209)" class="btn btn-outline-white btn-rounded">Home</a>
        </li>
        <li class="list-inline-item">
            <a href="/products" style="color: rgb(33, 145, 209)" class="btn btn-outline-white btn-rounded">Products</a>
        </li>
        <li class="list-inline-item">
            <a href="/contact" style="color: rgb(33, 145, 209)" class="btn btn-outline-white btn-rounded">Contact</a>
        </li>
        <li class="list-inline-item">
            <a href="/cart" style="color: rgb(33, 145, 209)" class="btn btn-outline-white btn-rounded">Cart</a>
        </li>
        </ul>
        <!-- Call to action -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div style="color: #1abc9c"class="footer-copyright text-center py-3">
        <a href="#"> © 2023 Copyright</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->