<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/"><span class="logo">TheSevenKG</span> Store</a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mr-auto  mb-2 mb-lg-0">
                <a class="nav-item nav-link" href="/products">Products</a>
                <a class="nav-item nav-link" href="/contact">Contact</a>
                <a class="nav-item nav-link" href="/cart">Cart</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Guide</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="https://linktr.ee/thesevenkg" target="_blank" rel="noreferrer noopener">LinkTree</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>